body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    background: black !important;
}
p{
    color: white !important;
}
/*
TileId = [
    "Grass",
    "Road",
    "wall",
    "chest",
    "Rock",
    "torch",
    "Door",
    "Empty",
    "Construction",
    "floor"
]
*/